/* Base styles
-------------------------------------------------- */

.container-fluid {
  padding-right: 100px;
  padding-left: 100px;
}
.well {
  min-height: 20px;
  padding: 24px 0;
  margin-bottom: 20px;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.dark-well {
  background-color: $well-bg;
  color: $white;
}
.light-gray-well {
  background-color: $light-gray-well-bg;
  color: $text-color;
  padding: 24px;
}
.title-border {
  position: relative;
  margin-bottom: 22px;
  font-weight: $font-weight-regular;
  &:after {
    height: 2px;
    width: 32px;
    background: $yellow-color;
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
  }
  &.center-title {
    text-align: center;
    &:after {
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}
.form-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: $yellow-color;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
    color: $yellow-color;
    opacity: 0.8;
  }
}
.highlight {
  padding: 10px 15px;
  margin-bottom: 20px;
  p {
    margin-bottom: 0;
  }
  .form-recipe-info {
    margin-left: -15px;
  }
  .text-left {
    text-align: left !important;
  }
  .form-horizontal {
    .form-group {
      margin-bottom: 0;
    }
  }
  .title-border {
    margin-bottom: 16px;
  }
}
.dark-highlight {
  color: $white;
  background-color: $gray-light;
  .form-horizontal-style {
    margin-bottom: 15px;
  }
}
.highlight-footer {
  background-color: $yellow-color;
  color: $text-color;
  margin: 0 -15px;
  .form-horizontal-style {
    margin: 0;
    .form-group {
      margin-bottom: 0;
      .control-label {
        color: $text-color;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}
.approved-highlight {
  .control-label {
    text-align: left;
  }
}
.section {
  padding: 30px 0;
}
@media (max-width: $screen-xxlg) {
  .container-fluid {
    padding-right: 70px;
    padding-left: 70px;
  }
}
@media (max-width: $screen-lg) {
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: $screen-xx-xs) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
